<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.nextgis.logger"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="11"
    android:versionName="1.3b">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/app_settings"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.MainActivity"/>
        </activity>

        <activity-alias
            android:name=".SelectFile"
            android:targetActivity=".PreferencesActivity">
            <intent-filter android:label="@string/choose_file_dialog">
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="file/*"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MarkActivity"
            android:label="@string/menu_search"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.MainActivity"/>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/app_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.MainActivity"/>
        </activity>

        <activity
            android:name=".SessionsActivity"
            android:label="@string/title_activity_sessions"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.MainActivity"/>
        </activity>

        <service
            android:name=".LoggerService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/antenna"/>
    </application>
</manifest>