<?xml version="1.0" encoding="utf-8"?><!--
  ~ ******************************************************************************
  ~ Project: NextGIS Logger
  ~ Purpose: Productive data logger for Android
  ~ Author:  Nikita Kirin
  ~ Author:  Stanislav Petriakov, becomeglory@gmail.com
  ~ ******************************************************************************
  ~ Copyright © 2014-2017 NextGIS
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~ ******************************************************************************
  -->

<manifest package="com.nextgis.logger"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:name=".LoggerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LoggerTheme">

        <activity
            android:name=".ui.activity.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.PreferencesActivity"
            android:label="@string/app_settings"
            android:parentActivityName=".ui.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <activity-alias
            android:name=".SelectFile"
            android:targetActivity=".ui.activity.PreferencesActivity">
            <intent-filter android:label="@string/choose_file_dialog">
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="file/*"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.activity.NGIDSettingsActivity"
            android:label="@string/ngid_settings"
            android:parentActivityName=".ui.activity.PreferencesActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.PreferencesActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.NGIDLoginActivity"
            android:label="@string/login"
            android:parentActivityName=".ui.activity.NGIDSettingsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.NGIDSettingsActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.MarkActivity"
            android:label="@string/menu_search"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/app_help"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.SessionsActivity"
            android:label="@string/title_activity_sessions"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".livedata.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".ui.activity.NGWLoginActivity"
            android:label="@string/ngw_add"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextgis.logger.ui.activity.MainActivity"/>
        </activity>

        <service
            android:name=".LoggerService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/ic_launcher"/>

        <service
            android:name=".util.AccountAuthenticator"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service android:name="com.nextgis.maplib.service.NGWSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <provider
            android:name="com.nextgis.maplib.datasource.LayerContentProvider"
            android:authorities="com.nextgis.logger.provider"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nextgis.logger.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>